.home {
  margin-top: -20px;
}

.main {
  padding-bottom: 7%;
  padding-top: 2%;
  min-height: 100vh;
}

.left-new {
  position: relative;
  display: inline;
  margin-left: -7%;
  top: 1.5em;

}

.right-new {
  position: relative;
  display: inline;
  margin-left: -7%;
}

.tilted-wrapper {
  position: relative;
  width: 100%;
  direction: rtl;
  margin: auto;
  padding-left: 7%;
  padding-bottom: 2%;
}