.password-input {
    margin-top: 5vh;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.main {
    min-height: 100vh;
    padding-top: 20vh;
}

.login-button-container {
    margin-top: 5vh;
}

.success {
    color: #27ae60
}

.error {
    color: #c0392b
}

.feedback {
    margin-top: 2vh;
    margin-bottom: 2vh;
}