.generic-input {
    padding: 0.5em;
    border-radius: 0.5em;
    width: 30%;
}

.generic-textarea-div-wrapper {
    margin-bottom: 1em;
}

.generic-textarea {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-bottom: 0.5em;
    min-height: 50px;
    padding: 0.5em;
    border-radius: 0.2em;
    width: 80%;
}

.generic-btn {
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: #79B4B7;
    transition: background-color 0.1s;
    padding: 0.5em;
    border-radius: 0.2em;
}

.generic-btn:hover {
    background-color: #629194;
}