/* RecipeCard.tsx */

.recipe-card {
    position: relative;
    /* Cursor will be set to pointer on scroll view */
    cursor: default;
    align-self: center;
    flex-shrink: 0;
    /* Opacity will be set to 1 on scroll view */
    opacity: 0;
    transition: opacity 0.4s, transform 0.2s;
    display: inline-block;
    /* box-shadow: 1em; */
}

.non-opaque {
    opacity: 1;
}

.recipe-card:hover {
    z-index: 10;
}

.tilted {
    /* TODO: Define a custom mobile top margin */
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
    margin-right: 2%;
}

.no-tilt:hover {
    transform: rotate(5deg);
}

.right-tilt {
    transform: rotate(5deg);
}

.left-tilt {
    transform: rotate(-5deg);
}

.right-tilt:hover {
    transform: rotate(0deg);
}

.left-tilt:hover {
    transform: rotate(0deg);
}

.recipe-card-img-container {
    min-width: 200px;
    min-height: 200px;
    /* for image size */
    position: relative;
    border-radius: 0.3em;
    /* for actually showing the border: https: //stackoverflow.com/questions/68920647/how-to-add-border-radius-to-next-js-image */
    overflow: hidden;
    transition: 0.1s transform;
    box-shadow: 5px 5px 2px #79B4B7;
    -moz-box-shadow: 5px 5px 2px #79B4B7;
    -webkit-box-shadow: 5px 5px 2px #79B4B7;
    -khtml-box-shadow: 5px 5px 2px #79B4B7;
}

.recipe-card-img-small {
    width: 17vw;
    height: 17vw;
}

.recipe-card-img-large {
    width: 20vw;
    height: 20vw;
}

.recipe-card-label {
    position: absolute;
    bottom: 5%;
    padding: 5%;
    max-width: 70%;
    /* #F8F0DF */
    background-color: rgba(248, 240, 223, 0.7);
    border-radius: 0.3em 0 0.3em 0;
    /* opacity: 0; */

    -webkit-transition: 0.1s opacity;
    -webkit-transition-delay: 0.05s;
    -moz-transition: 0.1s opacity;
    -moz-transition-delay: 0.05s;
    -ms-transition: 0.1s opacity;
    -ms-transition-delay: 0.05s;
    -o-transition: 0.1s opacity;
    -o-transition-delay: 0.05s;
    transition: 0.1s opacity;
    transition-delay: 0.05s;
}

/* easy hovering: https: //stackoverflow.com/questions/14263594/how-to-show-text-on-image-when-hovering */
/* .recipe-card:hover .recipe-card-label { */
/* opacity: 1; */
/* delay transitions off hover: https: //stackoverflow.com/questions/9393125/delay-mouseout-hover-with-css3-transitions */
/* -webkit-transition-delay: 0s; */
/* -moz-transition-delay: 0s; */
/* -ms-transition-delay: 0s; */
/* -o-transition-delay: 0s; */
/* transition-delay: 0s; */
/* } */

.recipe-card-img-container:hover {
    transform: scale(1.04)
}