.generic-h1 {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.generic-title {
    font-size: 2.2em;
    font-weight: bold;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}